---
import App from "@components/Tablet.svelte";
---

<html class="h-screen w-screen overflow-hidden">
  <body>
    <App accessToken={import.meta.env.SPOTIFY_ACCESS_TOKEN} client:load />
  </body>
</html>
